<h1>Stupid coaching</h1>

<div class="card">
<%= @input %>
<p>- You</p>
</div>

<div class="card">
<%= @output %>
<p>- Coach</p>
</div>

<hr>
<div class="btn">
<%= link_to 'Ask a new question', 'ask' %>
</div>
